*{margin: 0; padding: 0;}

body{
    background-color: #757575;
}

.topo{
    background-image: url("LYcapa.jpg");
    color: #fff;
    text-align: center;
    background-size: 500px;
    filter: grayscale(100%);
}
.resumo{
    margin-left: 50px;
    margin-right: 50px;
    font-size: 18px;
}
.jhope{
    text-align: center;
    border: 2px solid rgb(255, 255, 255);
    margin: 20px 585px 20px 585px;
}
.bio{
    text-align: justify;
    margin: 50px 200px 50px 200px;
}
#texto_corpo {
    color: #fff;
    text-align: justify;
    padding: 20px;
    margin-left: 200px;
    margin-right: 200px;
}
.discografia{
    margin-left: 400px;
    margin-bottom: 20px;
}
.albuns{
    margin-bottom: 30px;
}
.imgjbox{
    float: right;
    margin-right: 400px;
}
.hopeworld{
    float: right;
    margin-right: -220px;
}
