.grid-container{
    display: grid;
    grid-template-columns: 100px 100px 100px 100px;
    gap: 20px;
    background-color: white;
    padding: 100px 500px 100px 500px;
}

div {
    color: white;
    background-color: black;
    font-size: 20px;
    text-align: left;
    padding-left: 10px;
    padding: 5px 5px 10px 20px;
    border-radius: 20px;
}

.enter{
    text-align: center;
    grid-column: 4;
    grid-row-start: 4;
    grid-row-end: 6;

}
.t0{
    grid-column-start: 2;
    grid-column-end: 4;
}
