.grid-container{
    display: grid;
    grid-template-columns: 50px 50px 50px 50px;
    gap: 20px;
    background-color: black;
    padding: 100px 500px 100px 500px;
}

div {
    color: white;
    font-size: 20px;
    text-align: center;
    padding: 10px;
}

.funcao{
    background-color: gainsboro;
    color: black;
    border-radius: 100%;
}
.numerico{
    background-color: gray;
    border-radius: 100%;
}

.operacoes{
    background-color: orange;
    border-radius: 100%;
}
#t0{
    border-radius: 30%;
    grid-column-start: 1;
    grid-column-end: 3;
}
