.grid-container{
    display: grid;
    grid-template-columns: auto auto auto auto;
    gap: 20px;
    background-color: aquamarine;
    padding: 50px 50px 50px 50px;
}

div {
    color: white;
    background-color: black;
    font-size: 30px;
    text-align:  center;
}

.g17{
    grid-column: 4;
    grid-row-start: 4;
    grid-row-end: 6;
}
.g18{
    grid-column-start: 2;
    grid-column-end: 4;
}
